/* CSS declarations go here */

a:hover{
	text-decoration: none;
}


.glyphicon,.navbar-brand{
	color: #377bb5;
}

ol,ul{
	padding-left:0; 
	list-style-position:inside; 
}

ul{
	list-style-type: none;
}


.navbar-default{
	border: none;
	padding: 10px;
}

.hidden_div{
	display:none;
}

.container{
	margin-bottom: 40px;
	padding:10px;
}

.website__form__container{
	background: rgb(250, 250, 250);
	padding: 10px;
	border-radius: 5px;
}



.website__item__container{
	margin: 10px;
	min-height: 5em;

}

.website__item__arrows__container{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.website__item__more__container{
	min-height: 5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.comments__li{
	margin: 15px;
	padding: 15px;
	background: rgb(250, 250, 250);
	border-radius: 5px;
}

.alignLeft {
	float: left;
}
.alignRight {
	float: right;
}

.clear{
	clear: both;
}

.website_item_detail__container{
	padding:30px;
}

.comments__container{
	margin-top: 100px;
}

.comments__user{
	color:#377bb5;
}

.comments__time{
	color:#aaa;
}

.comments__comments, label, h3{
	color:#555;
}


.bo{
	border:solid red 2px;
}